*{
    padding: 0;
    margin: 0;
}.navbarlogo{
    
    
    height: 4rem;
    margin: 0 1rem;
    margin-right: 4rem;
    
    /* display: inline; */
    
    
}


.logo{
    display:inline;
    margin: 0;
    margin-right: 10rem;
    /* width: fit-content; */
    border-radius: 50%;
    max-height: 100%;
    /* position: absolute; */

}