.itempage-card-wraper{
    width: 60%;
    margin: auto;
}

.itempage-card-wraper .card{
    width: 100%;
}

.itempage-card-wraper .card-img-top{
    width: 30%;

    margin: 3rem;
    margin-left: 0;

    float: right;
}

.itempage-card-wraper .card-body{
    display: inline-block;

    width: 60%;
    height: 100%;
    
    margin: 0;
    text-align: right;
    
}
.itempage-card-wraper .card-title{
    margin: 1rem;
    font-size: 4.5rem;
}

.discription{
    margin-bottom: 2.5rem;
}
.itempage-card-wraper .addtocart{
    height: 10rem;
    width: 50%;

    margin-top: 2rem; 

    font-size: 2rem;

    display: inline-block;
}

.itempage-card-wraper .price{
    margin: 0;

}

.itempage-card-wraper .btn-group{
    display: block;
}

.itempage-card-wraper .btn-group .btn{
    background-color: #522c03;    
    color: #fff;
}

.itempage-card-wraper .btn-group .btn :disabled{
    border-color: #522c03;
}


.itempage-card-wraper .addtocartbtn
{
    background-color: #522c03;    
    color: #fff;
    margin: 0;
}


.author{
    /* display: inline-block; */
    /* width: 100rem; */
}